.element__like-btn {
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/Group.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}
.element__like-btn:hover {
    opacity: 0.5;
}