.header {
    width: calc(100% - 400px);
    padding: 45px 0 0;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 780px) {
    .header {
    width: calc(100% - 300px);
    }
}
@media screen and (max-width: 320px) {
    .header {
        width: 100%;
    }
}