.popup__submit-btn {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background-color: black;
    color: white;
    width: calc(100% - 72px);
    height: 50px;
    border: 0;
    border-radius: 2px;
    padding: 0;
}
.popup__submit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .popup__submit-btn {
        width: calc(100% - 44px);
        font-size: 14px;
        line-height: 17px;
    }
}