.elements__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 20px 17px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    .elements__list {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 650px) {
    .elements__list {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .elements__list {
        width: calc(100% - 38px);
    }
}